header.dashboard-header {
  background-color: #cee7ff !important;
  border-bottom-color: #00519e !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://raw.githubusercontent.com/hougie/styling-demo/main/sym-logo.png") !important;
}

div.user-info-field-title:contains("Identity") {
  display: none;
}
