header.dashboard-header {
  background-color: #cee7ff !important;
  border-bottom-color: #00519e !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://github.com/hougie/styling-demo/blob/c4f025ae9e80130ea9300987a75972e7cf7fde79/sym-logo.png") !important;
}
